{% extends 'base.html' %}
{% block main %}
<h1>Ordenes</h1>
{% block title  %}
Ordenes
{% endblock %}
{% if user.is_authenticated %}
<table class="table table-success table-striped">

    <thead>
        <th>Cliente</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Orden</th>
    </thead>


    <tbody>
        {% for x in ordenes %}
        <tr>
            <td>{{x.cliente}}</td>
            <td>{{x.fecha}}</td>
            <td>{{x.total}} $
                
                <!-- lo queria meter dentro de un modal pero se crasheaba -->
                <!-- {%for detalle in x.pastas.all%}
                {{detalle.pasta.pasta}}
                {{detalle.cantidad}}
                {{detalle.price}}
                {%endfor%} -->
            </td>

               
                    
                    
            <td><button type="button" class="btn btn-primary"><a href="{% url 'detalleorden' x.pk %}" style="color: white;">ver orden</a> </button>
                 </td>
        </tr>



<!-- Modal -->
        
        {%endfor%}
    </tbody>
</table>

{%else%}
<div class="cards style-1 justify-content-center">
    <div class="col ">
      <a href="{% url 'login' %}"><div class="card"><img class="card-image" src="https://cdn-icons-png.flaticon.com/512/2919/2919600.png"/>
        <div class="card-title">Primero Ingresa</div>
        <div class="card-description">Click para empezar</div>
      </div></a>
    </div>
    <div class="col">
        <a href="{% url 'register' %}"><div class="card"><img class="card-image" src="https://1001freedownloads.s3.amazonaws.com/icon/thumb/612/add-user.png"/>
          <div class="card-title">Crea una cuenta</div>
          <div class="card-description">Click para empezar</div>
        </div></a>
      </div>
    </div>

{% endif %}
<!-- Button trigger modal -->
{% endblock %}